<h1>Improve aptitudes</h1>

{{#each this.aptitudes}} 
  <div class="aptitude-entry">
    <div class="aptitude-label">{{this.label}}</div>
    <div class="aptitude-trait">{{this.trait}}</div>
    <div class="aptitude-die">{{this.totalRanks}}d{{this.die}}</div>

    {{#if this.canImprove}}
      <div class="aptitude-cost" data-tooltip="DLC.character.improveAptitudeCost">{{this.nextBounty}}</div>
      <button 
        class="aptitude-control aptitude-button" 
        role="button"
        data-id="this.aptitudeID"
        data-tooltip="DLC.character.improveAptitude"
        data-control="improveAptitude">
          {{localize 'DLC.character.improve'}}
      </button>
    {{/if}}

  </div>
{{/each}}
