<section class="{{cssClass}} directory flexcol" id="{{cssId}}" data-tab="{{tabName}}">

  <header class="chip-manager-header">
      <div class="flexrow">
        <h3 class="chip-manager noborder">{{localize 'DLC.sidebar.ChipPot'}}</h3>
      </div>
  </header>

  <div class="chip-row">
    <label class="chip-label" for="white">White</label>
    <span class="right">{{chips.white}}</span>
  </div>

  <div class="chip-row">
    <label class="chip-label" for="red">Red</label>
    <span class="right">{{chips.red}}</span>
  </div>

  <div class="chip-row">
    <label class="chip-label" for="blue">Blue</label>
    <span class="right">{{chips.blue}}</span>
  </div>

  <div class="chip-row">
    <label class="chip-label" for="green">Green</label>
    <span class="right">{{chips.green}}</span>
  </div>

  <div class="chip-manager-header flexrow">
    <h3 class="chip-manager noborder">{{localize 'DLC.sidebar.MarshalsChips'}}</h3>
  </div>

  <div class="chip-row">
    <label class="chip-label" for="white">White</label>
    <span class="chip-quantity">{{chips.marshalWhite}}</span>

    {{#if chips.hasWhite}}
      <button class="chip-control chip-button-narrow right"  role="button" data-control="useMarshalWhite"> {{localize 'DLC.sidebar.UseMarshalWhite'}}</button>
    {{/if}}
  </div>

  <div class="chip-row">
    <label class="chip-label" for="red">Red</label>
    <span class="chip-quantity">{{chips.marshalRed}}</span>

    {{#if chips.hasRed}}
      <button class="chip-control chip-button-narrow right"  role="button" data-control="useMarshalRed"> {{localize 'DLC.sidebar.UseMarshalRed'}} </button>
    {{/if}}
  </div>

  <div class="chip-row">
    <label class="chip-label" for="blue">Blue</label>
    <span class="chip-quantity">{{chips.marshalBlue}}</span>

    {{#if chips.hasBlue}}
      <button class="chip-control chip-button-narrow right"  role="button" data-control="useMarshalBlue"> {{localize 'DLC.sidebar.UseMarshalBlue'}} </button>
    {{/if}}
  </div>

  <div class="chip-manager-header flexrow">
    <h3 class="chip-manager noborder"> &nbsp; </h3>
  </div>

  <button class="chip-control chip-button "  role="button" data-control="drawChip"> {{localize 'DLC.sidebar.DrawMarshalChip'}} </button>

  <button class="chip-control chip-button "  role="button" data-control="chipAllocatorPlayer"> {{localize 'DLC.sidebar.ChipAllocatorPlayer'}} </button>

  <button class="chip-control chip-button "  role="button" data-control="chipAllocatorMarshal"> {{localize 'DLC.sidebar.ChipAllocatorMarshal'}} </button>

</section>
