<section class="{{cssClass}} directory flexcol" id="{{cssId}}" data-tab="{{tabName}}">
    <header class="combat-tracker-header">
        {{#if user.isGM}}
        <nav class="encounters flexrow" aria-label="{{localize 'COMBAT.NavLabel'}}">
            <a class="combat-button combat-create" aria-label="{{localize 'COMBAT.Create'}}" role="button" data-tooltip="COMBAT.Create">
                <i class="fas fa-plus"></i>
            </a>
            {{#if combatCount}}
            <a class="combat-button combat-cycle" aria-label="{{localize 'COMBAT.EncounterPrevious'}}" role="button" data-tooltip="COMBAT.EncounterPrevious"
               {{#if previousId}}data-document-id="{{previousId}}"{{else}}disabled{{/if}}>
                <i class="fas fa-caret-left"></i>
            </a>
            <h4 class="encounter">{{localize "COMBAT.Encounter"}} {{currentIndex}} / {{combatCount}}</h4>
            <a class="combat-button combat-cycle" aria-label="{{localize 'COMBAT.EncounterNext'}}" role="button" data-tooltip="COMBAT.EncounterNext"
               {{#if nextId}}data-document-id="{{nextId}}"{{else}}disabled{{/if}}>
                <i class="fas fa-caret-right"></i>
            </a>
            {{/if}}
            <a class="combat-button combat-control" aria-label="{{localize 'COMBAT.Delete'}}" role="button" data-tooltip="COMBAT.Delete" data-control="endCombat" {{#unless combatCount}}disabled{{/unless}}>
                <i class="fas fa-trash"></i>
            </a>
        </nav>
        {{/if}}

        <div class="encounter-controls flexrow {{#if hasCombat}}combat{{/if}}">

            {{#if combatCount}}
            {{#if combat.round}}
            <h3 class="encounter-title noborder">{{localize 'COMBAT.Round'}} {{combat.round}}</h3>
            {{else}}
            <h3 class="encounter-title noborder">{{localize 'COMBAT.NotStarted'}}</h3>
            {{/if}}
            {{else}}
            <h3 class="encounter-title noborder">{{localize "COMBAT.None"}}</h3>
            {{/if}}

            {{#if user.isGM}}
            <a class="combat-button combat-control" aria-label="{{localize 'COMBAT.InitiativeReset'}}" role="button" data-tooltip="COMBAT.InitiativeReset" data-control="resetAll"
                {{#unless hasCombat}}disabled{{/unless}}>
                <i class="fas fa-undo"></i>
            </a>
            <a class="combat-button combat-control" aria-label="{{localize 'labels.scope'}}" role="button" data-tooltip="{{labels.scope}}"
                data-control="toggleSceneLink" {{#unless hasCombat}}disabled{{/unless}}>
                <i class="fas fa-{{#unless linked}}un{{/unless}}link"></i>
            </a>
            {{/if}}
            <a class="combat-button combat-settings" aria-label="{{localize 'COMBAT.Settings'}}" role="button" data-tooltip="COMBAT.Settings" data-control="trackerSettings">
                <i class="fas fa-cog"></i>
            </a>
        </div>
    </header>

    <ol id="combat-tracker" class="directory-list">
        {{#with this as |toplevel|}}
        {{#each turns as |combatant|}}
            <div class="flexcol">
                <li class="combatant flexrow {{this.css}}" data-combatant-id="{{this.id}}">
                <img class="token-image" data-src="{{this.img}}" alt="{{this.name}}"/>
                <div class="token-name flexcol">
                    {{#if this.isHostile}}
                        <h4 class="hostile">{{this.name}}</h4>
                    {{else}}
                        <h4>{{this.name}}</h4>
                    {{/if}}

                    <div class="combatant-controls flexrow">
                        {{#if ../user.isGM}}
                        <a class="combatant-control {{#if this.hidden}}active{{/if}}" aria-label="{{localize 'COMBAT.ToggleVis'}}" role="button" data-tooltip="COMBAT.ToggleVis" data-control="toggleHidden">
                            <i class="fas fa-eye-slash"></i>
                        </a>
                        <a class="combatant-control {{#if this.defeated}}active{{/if}}" aria-label="{{localize 'COMBAT.ToggleDead'}}" role="button" data-tooltip="COMBAT.ToggleDead" data-control="toggleDefeated">
                            <i class="fas fa-skull"></i>
                        </a>
                        {{/if}}
                        {{#if this.canPing}}
                        <a class="combatant-control" aria-label="{{localize 'COMBAT.PingCombatant'}}" role="button" data-tooltip="COMBAT.PingCombatant" data-control="pingCombatant">
                            <i class="fa-solid fa-bullseye-arrow"></i>
                        </a>
                        {{/if}}

                        {{#unless this.roundStarted}}
                            {{#if ../user.isGM}}
                                {{#if this.isHostile}}
                                <a class="combatant-control" aria-label="{{localize 'DLC.combat.MakeFriend'}}" role="button" data-tooltip="DLC.combat.MakeFriend" data-control="toggleHostility"><i class="fas fa-square-check"></i></a>
                                {{else}}
                                <a class="combatant-control" aria-label="{{localize 'DLC.combat.MakeEnemy'}}" role="button" data-tooltip="DLC.combat.MakeEnemy" data-control="toggleHostility"><i class="fas fa-square-xmark"></i></a>
                                {{/if}}
                            {{/if}}
                        {{/unless}}

                        <div class="token-effects">
                            {{#each this.effects}}
                            <img class="token-effect" src="{{this}}"/>
                            {{/each}}
                        </div>

                        {{#if this.showControl}}

                            {{#if this.showBlackControl}}
                            <a class="combatant-control {{#unless this.isUsingRedJoker}}active{{/unless}}" aria-label="{{localize 'DLC.combat.ToggleJoker'}}" role="button"  data-tooltip="DLC.combat.ToggleBlackJoker" data-control="toggleBlackJoker">
                                <i class="fas fa-skull-crossbones"></i>
                            </a>
                            {{/if}}

                            {{#if this.showRedControl}}
                            <a class="combatant-control {{#unless this.isUsingBlackJoker}}active{{/unless}}" aria-label="{{localize 'DLC.combat.ToggleJoker'}}" role="button" data-tooltip="DLC.combat.ToggleRedJoker" data-control="toggleRedJoker">
                                <i class="fas fa-j"></i>
                            </a>
                            {{/if}}

                            {{#if this.showSleeveControl}}
                                <a class="combatant-control active" aria-label="{{localize 'DLC.combat.Sleeve'}}" role="button" data-tooltip="DLC.combat.Sleeve" data-control="sleeveHighest">
                                    <i class="fas fa-hand-holding"></i>
                                </a>
                            {{else if showUseSleeveControl}}
                                <a class="combatant-control active" aria-label="{{localize 'DLC.combat.ToggleSleeved'}}" role="button" data-tooltip="DLC.combat.ToggleSleeved" data-control="toggleSleeved">
                                    {{#if this.usingSleeved}}
                                        <i class="fas fa-thumbs-down"></i>
                                    {{else}}
                                        <i class="fas fa-hand-holding-heart"></i>
                                    {{/if}}
                                </a>
                            {{/if}}

                            {{#if this.showVamoose}}
                            <a class="combatant-control active" aria-label="{{localize 'DLC.combat.Vamoose'}}" role="button" data-tooltip="DLC.combat.Vamoose" data-control="vamoose">
                                <i class="fas fa-person-running"></i>
                            </a>
                            {{/if}}
                        {{/if}}

                    </div>

                </div>

                {{#if this.hasResource}}
                <div class="token-resource">
                    <span class="resource">{{this.resource}}</span>
                </div>
                {{/if}}

                <div class="token-initiative">
                    {{#if this.roundStarted}}
                        {{#if this.isFriend}}
                            {{#if this.isUsingRedJoker}}
                                <a class="combatant-control" role="button""><img src={{toplevel.redJoker.icon}} /></a>
                            {{else if this.isUsingBlackJoker}}
                                <a class="combatant-control" role="button""><img src={{toplevel.blackJoker.icon}} /></a>
                            {{else if this.isUsingSleeved}}
                                <a class="combatant-control" role="button""><i class="fas fa-hand-holding-heart"></i></a>
                            {{else}}
                                {{#each this.cardObjects as | card |}}
                                    {{#if @first}}<a class="combatant-control" role="button"><img src="{{card.icon}}" data-tooltip="{{card.name}}" /></a>{{/if}}
                                {{/each}}
                            {{/if}}
                        {{/if}}
                    {{else}}
                        {{#if this.owner}}
                        <a class="combatant-control" aria-label="{{localize 'COMBAT.InitiativeRoll'}}" role="button"
                           data-tooltip="COMBAT.InitiativeRoll" data-control="drawCard">
                           <img src="systems/deadlands-classic/icons/svg/card-draw.svg" /></a>
                        {{/if}}
                    {{/if}}
                </div>
                </li>

            </div>

                {{#if this.isFriend}}
                <li class="combatant-hand {{this.css}}" data-combatant-id="{{this.id}}">
                    <div class="card-flexrow">
                        {{#if hasRedJoker}}
                            <a class="combatant-cards" role="button" data-card-number={{toplevel.redJoker.index}} data-tooltip="{{toplevel.redJoker.name}}">
                                <img src={{toplevel.redJoker.icon}} />
                            </a>
                        {{/if}}
                        {{#if hasBlackJoker}}
                            <a class="combatant-cards" role="button"  data-card-number={{toplevel.blackJoker.index}}  data-tooltip="{{toplevel.blackJoker.name}}">
                                <img src="{{toplevel.blackJoker.icon}}" />
                            </a>
                        {{/if}}
                        
                        {{#each cardObjects as | card |}}
                            <a class="combatant-cards" role="button" data-card-number={{card.index}} data-tooltip="{{card.name}}" data-index={{@index}} data-control="discardCard">
                                <img src="{{card.icon}}" />
                            </a>
                        {{/each}}
                    </div>
                
                    {{#if this.showDiscards}}
                    <div class="card-flexrow">
                        {{#each discardObjects as | card |}}
                            <a class="combatant-discards" role="button" data-card-number={{card.index}}  data-tooltip="{{card.name}}" data-index={{@index}} data-control="retrieveCard">
                                <img src="{{card.icon}}" />
                            </a>
                        {{/each}}
                    </div>
                    {{/if}}
                </li>
                {{/if}}

        {{/each}}
        {{/with}}
    </ol>

    <nav id="combat-controls" class="directory-footer flexrow" data-tooltip-direction="UP">
    {{#if hasCombat}}
        {{#if user.isGM}}
            {{#if round}}
                {{#if hasPreviousTurns}}
                <a class="combat-control" aria-label="{{localize 'COMBAT.TurnPrev'}}" role="button" data-tooltip="COMBAT.TurnPrev" data-control="previousTurn"><i class="fas fa-arrow-left"></i></a>
                {{/if}}

                {{#if offerEndTurn}}
                    <a class="combat-control center" aria-label="{{localize 'DLC.combat.EndRound'}}" role="button"  data-control="nextRound">{{localize 'DLC.combat.EndRound'}}</a>
                    {{#if showNextTurn}}
                        <a class="combat-control" aria-label="{{localize 'COMBAT.TurnNext'}}" role="button" data-tooltip="COMBAT.TurnNext" data-control="nextTurn"><i class="fas fa-arrow-right"></i></a>
                    {{/if}}
                {{else if roundStarted}}
                    <a class="combat-control center" aria-label="{{localize 'COMBAT.End'}}" role="button" data-control="endCombat">{{localize 'COMBAT.End'}}</a>
                    <a class="combat-control" aria-label="{{localize 'COMBAT.TurnNext'}}" role="button" data-tooltip="COMBAT.TurnNext" data-control="nextTurn"><i class="fas fa-arrow-right"></i></a>
                    <a class="combat-control" aria-label="{{localize 'COMBAT.RoundNext'}}" role="button" data-tooltip="COMBAT.RoundNext" data-control="nextRound"><i class="fas fa-step-forward"></i></a>
                {{else}}
                    <a class="combat-control" aria-label="{{localize 'COMBAT.End'}}" role="button" data-control="endCombat">{{localize 'COMBAT.End'}}</a>
                    <a class="combat-control" aria-label="{{localize 'DLC.combat.BeginRound'}}" role="button"  data-control="startRound">{{localize 'DLC.combat.BeginRound'}}</a>
                {{/if}}
            {{else}}
            <a class="combat-control center" aria-label="{{localize 'COMBAT.Begin'}}" role="button"  data-control="startCombat">{{localize 'COMBAT.Begin'}}</a>
            {{/if}}
        {{else if control}}
        <a class="combat-control center" aria-label="{{localize 'COMBAT.TurnEnd'}}" role="button"  data-control="nextTurn">{{localize 'COMBAT.TurnEnd'}}</a>
        {{/if}}
    {{/if}}
    </nav>
</section>
