<h1>Improve traits
  {{#if showBountyRemaining}} — {{this.bountyRemaining}}{{/if}}
</h1>

{{#each this.traits}}
  <div class="initial-trait-entry">
    <div class="trait-label">{{this.label}}</div>
    <div class="trait-die">{{this.totalRanks}}d{{this.totalDieSize}}</div>

    {{#if this.dieRankImprovementIsPossible}}
      <div class="trait-rank-cost" data-tooltip="DLC.character.improveTraitCost">{{this.nextRankCost}}</div>
    {{/if}}

    {{#if this.canImproveTraitRank}}
      <button 
        class="trait-control trait-button" 
        role="button"
        data-id="{{this.traitID}}"
        data-tooltip="DLC.character.improveTrait"
        data-control="improveTraitRank">
          {{localize 'DLC.character.add'}}
      </button>
    {{/if}}

    {{#if this.dieSizeImprovementIsPossible}}
      <div class="trait-die-size-cost" data-tooltip="DLC.character.improveTraitDieSizeCost">{{this.nextDieCost}}</div>
      {{/if}}

    {{#if this.canImproveDieSize}}
      <button 
        class="trait-control trait-button2" 
        role="button"
        data-id="{{this.traitID}}"
        data-tooltip="DLC.character.improveTraitDieSize"
        data-control="addConcentration">
          {{localize 'DLC.character.improve'}}
      </button>
    {{/if}}
  </div>

{{/each}}
