<form class="flexcol {{cssClass}}" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{data.img}}"
      data-edit="img"
      title="{{data.name}}"
      height="100"
      width="100"
    />
    <div class="header-fields">
      <h1 class="charname">
        <input
          name="name"
          type="text"
          value="{{this.title}}"
          placeholder="Name"
        />
      </h1>
    </div>
  </header>
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="main"> {{localize "DLC.sheet.main"}} </a>
    <a class="item" data-tab="chips"> {{localize "DLC.sheet.chips"}} </a>
    <a class="item" data-tab="combat"> {{localize "DLC.sheet.combat"}} </a>
    <a class="item" data-tab="aptitudes">
      {{localize "DLC.sheet.aptitudes"}}
    </a>
    <a class="item" data-tab="edges"> {{localize "DLC.sheet.edges"}} </a>
    <a class="item" data-tab="gear"> {{localize "DLC.sheet.gear"}} </a>
    <a class="item" data-tab="spells"> {{localize "DLC.sheet.spells"}} </a>
    <a class="item" data-tab="biodata"> {{localize "DLC.sheet.biodata"}} </a>
    <a class="item" data-tab="bio"> {{localize "DLC.sheet.bio"}} </a>
    <a class="item" data-tab="notes"> {{localize "DLC.sheet.notes"}} </a>
  </nav>
  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Main Tab/Sub-Page --}}
    <div class="tab main flexcol" data-group="primary" data-tab="main">
      {{>
      "systems/deadlands-classic/templates/parts/dlc-character-sheet-main.html"
      }}
    </div>
    {{!-- Chips Tab/Sub-Page --}}
    <div class="tab chips" data-group="primary" data-tab="chips">
      {{>
      "systems/deadlands-classic/templates/parts/dlc-character-sheet-chips.html"
      }}
    </div>
    {{!-- Combat Tab/Sub-Page --}}
    <div class="tab combat flexcol" data-group="primary" data-tab="combat">
      {{>
      "systems/deadlands-classic/templates/parts/dlc-character-sheet-combat.html"
      }}
    </div>
    {{!-- Aptitudes Tab/Sub-Page --}}
    <div
      class="tab aptitudes flexcol"
      data-group="primary"
      data-tab="aptitudes"
    >
      {{>
      "systems/deadlands-classic/templates/parts/dlc-character-sheet-aptitudes.html"
      }}
    </div>
    {{!-- Edges Tab/Sub-Page --}}
    <div class="tab edges flexcol" data-group="primary" data-tab="edges">
      {{>
      "systems/deadlands-classic/templates/parts/dlc-character-sheet-edges.html"
      }}
    </div>
    {{!-- Gear Tab/Sub-Page --}}
    <div class="tab gear flexcol" data-group="primary" data-tab="gear">
      {{>
      "systems/deadlands-classic/templates/parts/dlc-character-sheet-gear.html"
      }}
    </div>
    {{!-- Spells Tab/Sub-Page --}}
    <div class="tab spells flexcol" data-group="primary" data-tab="spells">
      {{>
      "systems/deadlands-classic/templates/parts/dlc-character-sheet-spells.html"
      }}
    </div>
    {{!-- Bio Data Tab/Sub-Page --}}
    <div class="tab biodata flexcol" data-group="primary" data-tab="biodata">
      {{>
      "systems/deadlands-classic/templates/parts/dlc-character-sheet-biodata.html"
      }}
    </div>
    {{!-- Biography Tab/Sub-Page --}}
    <div class="tab bio" data-group="primary" data-tab="bio">
      {{editor data.sBiography target="system.sBiography" button=true
      editable=editable engine="prosemirror" collaborate=false}}
    </div>
    {{!-- Notes Tab/Sub-Page --}}
    <div class="tab notes" data-group="primary" data-tab="notes">
      {{editor data.sNotes target="system.sNotes" button=true editable=editable
      engine="prosemirror" collaborate=false}}
    </div>
  </section>
</form>
