<form class="flexcol {{cssClass}}" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{data.img}}"
      data-edit="img"
      title="{{data.name}}"
      height="100"
      width="100"
    />
    <div class="header-fields">
      <h1 class="charname">
        <input
          name="name"
          type="text"
          value="{{data.name}}"
          placeholder="Name"
        />
      </h1>
    </div>
  </header>
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="main"
      >{{localize "deadlands.sheets.actor-sheet.tabs.main"}}</a
    >
    <a class="item" data-tab="combat"
      >{{localize "deadlands.sheets.actor-sheet.tabs.combat"}}</a
    >
    <a class="item" data-tab="aptitudes"
      >{{localize "deadlands.sheets.actor-sheet.tabs.aptitudes"}}</a
    >
    <a class="item" data-tab="edges"
      >{{localize "deadlands.sheets.actor-sheet.tabs.edges"}}</a
    >
    <a class="item" data-tab="gear"
      >{{localize "deadlands.sheets.actor-sheet.tabs.gear"}}</a
    >
    <a class="item" data-tab="spells"
      >{{localize "deadlands.sheets.actor-sheet.tabs.spells"}}</a
    >
    <a class="item" data-tab="biodata"
      >{{localize "deadlands.sheets.actor-sheet.tabs.biodata"}}</a
    >
    <a class="item" data-tab="bio"
      >{{localize "deadlands.sheets.actor-sheet.tabs.bio"}}</a
    >
    <a class="item" data-tab="notes"
      >{{localize "deadlands.sheets.actor-sheet.tabs.notes"}}</a
    >
  </nav>
  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Main Tab/Sub-Page --}}
    <div class="tab main flexcol" data-group="primary" data-tab="main">
      {{> "systems/deadlands/templates/parts/dlc-character-sheet-main.html"}}
    </div>
    {{!-- Combat Tab/Sub-Page --}}
    <div class="tab combat flexcol" data-group="primary" data-tab="combat">
      {{> "systems/deadlands/templates/parts/dlc-character-sheet-combat.html"}}
    </div>
    {{!-- Aptitudes Tab/Sub-Page --}}
    <div
      class="tab aptitudes flexcol"
      data-group="primary"
      data-tab="aptitudes"
    >
      {{> "systems/deadlands/templates/parts/dlc-character-sheet-main.html"}}
    </div>
    {{!-- Edges Tab/Sub-Page --}}
    <div class="tab edges flexcol" data-group="primary" data-tab="edges">
      {{> "systems/deadlands/templates/parts/dlc-character-sheet-edges.html"}}
    </div>
    {{!-- Gear Tab/Sub-Page --}}
    <div class="tab gear flexcol" data-group="primary" data-tab="gear">
      {{> "systems/deadlands/templates/parts/dlc-character-sheet-gear.html"}}
    </div>
    {{!-- Spells Tab/Sub-Page --}}
    <div class="tab spells flexcol" data-group="primary" data-tab="spells">
      {{> "systems/deadlands/templates/parts/dlc-character-sheet-spells.html"}}
    </div>
    {{!-- Bio Data Tab/Sub-Page --}}
    <div class="tab biodata flexcol" data-group="primary" data-tab="biodata">
      {{> "systems/deadlands/templates/parts/dlc-character-sheet-biodata.html"}}
    </div>
    {{!-- Biography Tab/Sub-Page --}}
    <div class="tab bio" data-group="primary" data-tab="bio">
      {{editor data.sBiography target="system.sBiography" button=true
      editable=editable engine="prosemirror" collaborate=false}}
    </div>
    {{!-- Notes Tab/Sub-Page --}}
    <div class="tab notes" data-group="primary" data-tab="notes">
      {{editor data.sNotes target="system.sNotes" button=true editable=editable
      engine="prosemirror" collaborate=false}}
    </div>
  </section>
</form>
