<h1>Set initial traits</h1>

<ul style="list-style: none" class="trait-entry">
  {{#each this.cards as |card index|}}

    {{#unless @last}}
      {{#if card.column1}}<li class="traitOptionItem trait-column1-label" data-index={{@index}}>{{/if}}
      {{#if card.column2}}<li class="traitOptionItem trait-column2-label" data-index={{@index}}>{{/if}}
      {{#if card.column3}}<li class="traitOptionItem trait-column3-label" data-index={{@index}}>{{/if}}
      
          <span class="trait-column1-label">{{card.dieNum}}d{{card.die}}</span>
      
          {{#if card.column1}}<a role="button" class="trait-column1-card" data-tooltip="{{card.name}}" data-control="setCard">{{/if}}
          {{#if card.column2}}<a role="button" class="trait-column2-card" data-tooltip="{{card.name}}" data-control="setCard">{{/if}}
          {{#if card.column3}}<a role="button" class="trait-column3-card" data-tooltip="{{card.name}}" data-control="setCard">{{/if}}
          
          <img src="{{card.icon}}" />
        </a>
      </li>
    {{/unless}}
  {{/each}}
</ul>

<ul style="list-style: none" class="trait-entry">
</ul>


<form>

  <select name="archtypeSelected">
    {{selectOptions optionObj selected=this.archtypeSelected localize=true}}
  </select>

  {{#unless this.traitsChosen}}
    <div>{{localize 'DLC.app.ChooseTraits'}}</div>
  {{/unless}}

  {{#unless this.mandatoryUsed}}
    <div>{{localize 'DLC.app.UseMandatory'}}</div>
  {{/unless}}

  {{#if this.validForm}}
    <input type="submit" value="Submit" data-tooltip="DLC.app.SetTraits">{{localize 'DLC.app.SetTraits'}}</>
  {{/if}}
</form>

<ul style="list-style: none" class="trait-inputs">
  <li class="traitInput trait-input-label1" data-trait="Cognition">
    <span class="trait-input-label1">Cognition</span>
    <a role="button" class="trait-input-image1"><img src="{{this.traits.Cognition.icon}}" /></a>
  </li>
  <li class="traitInput trait-input-label2" data-trait="Deftness">
    <span class="trait-input-label2">Deftness</span> 
    <a role="button" class="trait-input-image2"><img src="{{this.traits.Deftness.icon}}" /></a>
  </li>
  <li class="traitInput trait-input-label1" data-trait="Knowledge">
    <span class="trait-input-label1">Knowledge</span>
    <a role="button" class="trait-input-image1"><img src="{{this.traits.Knowledge.icon}}" /></a>
  </li>
  <li class="traitInput trait-input-label2" data-trait="Mien">
    <span class="trait-input-label2">Mien</span>
    <a role="button" class="trait-input-image2"><img src="{{this.traits.Mien.icon}}" /></a>
  </li>
  <li class="traitInput trait-input-label1" data-trait="Nimbleness">
    <span class="trait-input-label1">Nimbleness</span>
    <a role="button" class="trait-input-image1"><img src="{{this.traits.Nimbleness.icon}}" /></a>
  </li>
  <li class="traitInput trait-input-label2" data-trait="Quickness">
    <span class="trait-input-label2">Quickness</span>
    <a role="button" class="trait-input-image2"><img src="{{this.traits.Quickness.icon}}" /></a>
  </li>
  <li class="traitInput trait-input-label1" data-trait="Smarts">
    <span class="trait-input-label1">Smarts</span>
    <a role="button" class="trait-input-image1"><img src="{{this.traits.Smarts.icon}}" /></a>
  </li>
  <li class="traitInput trait-input-label2" data-trait="Spirit">
    <span class="trait-input-label2">Spirit</span>
    <a role="button" class="trait-input-image2"><img src="{{this.traits.Spirit.icon}}" /></a>
  </li>
  <li class="traitInput trait-input-label1" data-trait="Strength">
    <span class="trait-input-label1">Strength</span> 
    <a role="button" class="trait-input-image1"><img src="{{this.traits.Strength.icon}}" /></a>
  </li>
  <li class="traitInput trait-input-label2" data-trait="Vigor">
    <span class="trait-input-label2">Vigor</span>
    <a role="button" class="trait-input-image2"><img src="{{this.traits.Vigor.icon}}" /></a>
  </li>
</ul>
