<h1>Description and setting</h1>

<label>{{localize "DLC.modification.Setting"}}</label>

<div>
  <input type="checkbox" id="wastedwest" name="system.setting.WastedWest" {{ checked system.setting.WastedWest }}/>
  <label for="wastedwest">Wasted West</label>
</div>

<div>
  <input type="checkbox" id="hellonearth" name="system.setting.HellOnEarth" {{ checked system.setting.HellOnEarth }} />
  <label for="hellonearth">Hell on Earth</label>
</div>

<div>
  <input type="checkbox" id="lostcolony" name="system.setting.LostColony" {{ checked system.setting.LostColony }} />
  <label for="lostcolony">Lost Colony</label>
</div>

<div>
  <input type="checkbox" id="isArcane" name="system.isArcane" {{ checked system.isArcane }}/>
  <label for="isArcane"> {{localize "DLC.arcaneFlavour.isArcane"}} </label>
</div>

<div>
  <input type="checkbox" id="grantsArcane" name="system.grantsArcane" {{ checked system.grantsArcane }}/>
  <label for="grantsArcane"> {{localize "DLC.arcaneFlavour.grantsArcane"}} </label>
</div>

{{editor enrichedBlurb target="system.blurb" editable=editable}}
