<h1>Configue the Edge</h1>

<div>
  <input type="checkbox" id="grantsArcane" name="system.grantsArcane" {{ checked system.grantsArcane }}/>
  <label for="grantsArcane"> {{localize "DLC.modification.grantsArcane"}} </label>
</div>

<div>
  <input type="checkbox" id="isArcane" name="system.isArcane" {{ checked system.isArcane }}/>
  <label for="isArcane"> {{localize "DLC.modification.isArcane"}} </label>
</div>





<div>
  <input type="checkbox" id="one" name="system.one.active" {{ checked system.one.active }}/>
  <label for="one"> {{localize "DLC.modification.one"}} </label>
</div>

 <div>
  <input type="checkbox" id="two" name="system.two.active" {{ checked system.two.active }}/>
  <label for="two"> {{localize "DLC.modification.two"}} </label>
</div>

 <div>
  <input type="checkbox" id="three" name="system.three.active" {{ checked system.three.active }}/>
  <label for="three"> {{localize "DLC.modification.three"}} </label>
</div>

 <div>
  <input type="checkbox" id="four" name="system.four.active" {{ checked system.four.active }}/>
  <label for="four"> {{localize "DLC.modification.four"}} </label>
</div>

 <div>
  <input type="checkbox" id="five" name="system.five.active" {{ checked system.five.active }}/>
  <label for="five"> {{localize "DLC.modification.five"}} </label>
</div>

 <div>
  <input type="checkbox" id="capstone" name="system.capstone.active" {{ checked system.capstone.active }}/>
  <label for="capstone"> {{localize "DLC.modification.capstone"}} </label>
</div>