<h1>{{localize "DLC.modificationTabConfigure.four"}}</h1>

<div>
  <label for="StartCost">{{localize "DLC.modification.startCost"}}</label> 
  <input type="number"  id="StartCost" name="system.four.startCost" {{#if system.four.startCost includeZero=true}} value="{{system.four.startCost}}" {{/if}} />
</div>

<div>
  <label for="Cost">{{localize "DLC.modification.cost"}}</label> 
  <input type="number"  id="Cost" name="system.four.cost" {{#if system.four.cost includeZero=true}} value="{{system.four.cost}}" {{/if}} />
</div>

<div>
  {{editor enrichedFourText target="system.four.text" editable=editable}}
</div>