<header class="sheet-header">
  <img src="{{img}}" data-edit="img" title="{{name}}" height="64" width="64"/>
  <h1>
    {{formInput name.field value=name.value disabled=(not @root.editable)}}
  </h1>
</header>