<div>
  <div>
    {{formGroup description.field value=description.value enriched=description.enriched height=200}}
  </div>

  <div>
    {{formGroup systemFields.db value=system.db dataset=data.db}}
  </div>

  <div>
    {{formGroup systemFields.damage value=system.damage dataset=data.damage}}
  </div>

  <div>
    {{formGroup systemFields.price value=system.price dataset=data.price}}
  </div>

</div>