<div>
  <div>
    {{formGroup description.field value=description.value enriched=description.enriched height=200}}
  </div>

  <div>
    {{formGroup systemFields.price value=system.price dataset=data.price}}
  </div>

</div>