<header class="sheet-header">
  <img src="{{img}}" data-edit="img" title="{{name}}" height="64" width="64"/>
  <h1>
    <input name="name" type="text" value="{{name}}" placeholder="{{ localize 'Name' }}"/>
  </h1>
</header>

{{!-- Sheet Body --}}
<section class="sheet-body">

  <div>
    <label>{{localize "DLC.modification.Setting"}}</label>
    {{#if system.setting.WastedWest }} {{localize "DLC.settings.game-world.ww"}} {{/if}}
    {{#if system.setting.HellOnEarth }} {{localize "DLC.settings.game-world.he"}} {{/if}}
    {{#if system.setting.LostColony }} {{localize "DLC.settings.game-world.lc"}} {{/if}}
  </div>

  {{#if system.one.active }}
    <div>
      {{localize "DLC.modification.startCost"}} {{#if system.one.startCost includeZero=true}} {{system.one.startCost}} {{/if}} 
      {{localize "DLC.modification.cost"}} {{#if system.one.cost includeZero=true}} {{system.one.cost}} {{/if}}
      {{editor enrichedOneText target="system.one.text" editable=editable}}
    </div>
  {{/if}}
  
  {{#if system.two.active }}
    <div>
      {{localize "DLC.modification.startCost"}} {{#if system.two.startCost includeZero=true}} {{system.two.startCost}} {{/if}} 
      {{localize "DLC.modification.cost"}} {{#if system.two.cost includeZero=true}} {{system.two.cost}} {{/if}}
      {{editor enrichedTwoText target="system.two.text" editable=editable}}
    </div>
  {{/if}}

  {{#if system.three.active }}
    <div>
      {{localize "DLC.modification.startCost"}} {{#if system.three.startCost includeZero=true}} {{system.three.startCost}} {{/if}} 
      {{localize "DLC.modification.cost"}} {{#if system.three.cost includeZero=true}} {{system.three.cost}} {{/if}}
      {{editor enrichedThreeText target="system.three.text" editable=editable}}
    </div>
  {{/if}}

  {{#if system.four.active }}
    <div>
      {{localize "DLC.modification.startCost"}} {{#if system.four.startCost includeZero=true}} {{system.four.startCost}} {{/if}} 
      {{localize "DLC.modification.cost"}} {{#if system.four.cost includeZero=true}} {{system.four.cost}} {{/if}}
      {{editor enrichedFourText target="system.four.text" editable=editable}}
    </div>
  {{/if}}

  {{#if system.five.active }}
    <div>
      {{localize "DLC.modification.startCost"}} {{#if system.five.startCost includeZero=true}} {{system.five.startCost}} {{/if}} 
      {{localize "DLC.modification.cost"}} {{#if system.five.cost includeZero=true}} {{system.five.cost}} {{/if}}
      {{editor enrichedFiveText target="system.five.text" editable=editable}}
    </div>
  {{/if}}

  {{#if system.capstone.active }}
    <div>
      {{localize "DLC.modification.startCost"}} {{#if system.capstone.startCost includeZero=true}} {{system.capstone.startCost}} {{/if}} 
      {{localize "DLC.modification.cost"}} {{#if system.capstone.cost includeZero=true}} {{system.capstone.cost}} {{/if}}
      {{editor enrichedCapstoneText target="system.capstone.text" editable=editable}}
    </div>
  {{/if}}

</section>
