/* @haxxx: apparently its best practice to use class, etc, definitions with a prefix so as to avoid name-space issues. I suggest "dlc".  -MJB - 20230702 */

:root {
  --color-shadow-dark: #000;
  --color-shadow-highlight: #ff6400;
  --color-shadow-primary: #fe6a6a;
  --combat-card-height: 42px;
  --combat-card-width: 25px;
  --sidebar-card-height: 21px;
  --sidebar-card-width: 12px;
  --sidebar-item-height: 48px;
  --sidebar-img-height: 36px;

  --trait-card-height: 72px;

  --charsheet-item-height: 32px;
}

.directory li.combatant {
  line-height: var(--sidebar-item-height);
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.directory li.combatant h3,
.directory li.combatant h4 {
  white-space: nowrap;
  overflow: hidden;
}

.directory li.combatant img {
  flex: 0 0 var(--sidebar-item-height);
  height: var(--sidebar-item-height);
  width: var(--sidebar-item-height);
  object-fit: scale-down;
  object-position: 50% 0;
  border: none;
}

.directory li.combatant .token-image {
  margin: 0;
  height: var(--sidebar-item-height);
  width: var(--sidebar-item-height);
  flex: 0 0 24px;
  line-height: 28px;
  margin: 0 0 2px;
}
.directory li.combatant .token-name {
  flex: 1;
  overflow: hidden;
  margin: 0 5px;
  text-shadow: 1px 1px 4px var(--color-shadow-dark);
}
.directory li.combatant .token-name h4 {
  flex: 0 0 24px;
  line-height: 28px;
  margin: 0 0 2px;
}
.directory li.combatant .token-name .hostile {
  flex: 0 0 24px;
  line-height: 28px;
  margin: 0 0 2px;
  color: crimson;
}

.card-flexrow {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: var(--combat-card-height);
  line-height: 28px;
}

.combatant-control {
  flex: 0 0 20px;
  height: 20px;
  float: left;
  color: var(--color-text-dark-5);
}

.combatant-toggle {
  display: flex;
  flex-direction: row;
  object-fit: scale-down;
  border: none;
  height: 20px;
  column-gap: 5px;
  line-height: var(--sidebar-card-height);
}

.combatant-cards {
  display: flex;
  flex-direction: row;
  flex: 0 0 30px;
  justify-content: flex-start;
  height: var(--combat-card-height);
  object-fit: scale-down;
  border: none;
  margin: 2px;
}

.combatant-discards {
  display: flex;
  flex-direction: row;
  flex: 0 0 30px;
  justify-content: flex-start;
  height: var(--combat-card-height);
  object-fit: scale-down;
  border: none;
  margin: 2px;
}

li.combatant .roll {
  display: block;
  width: 40px;
  height: var(--sidebar-item-height);
  background: url(../icons/svg/d20.svg) no-repeat 50% 50%;
  background-size: 32px;
  margin: 0 0.5em;
}
li.combatant .roll:hover {
  background-image: url(../icons/svg/d20-highlight.svg);
}

.chip-entry {
  display: flex;
  grid-template-columns: 180px 40px;
}

.aptitude-entry {
  display: grid;
  grid-template-columns: 225px 80px 30px 25px 90px 150px repeat(auto-fill, 90px);
  grid-template-rows: 40px;
  align-items: center;
}

.aptitude-label {
  grid-column: 1;
  color: var(--color-text-dark-1);
  font-weight: bold;
  margin-left: 1em;
}

.aptitude-trait {
  grid-column: 2;
  color: var(--color-text-dark-1);
}

.aptitude-die {
  grid-column: 3;
  color: var(--color-text-dark-1);
}

.aptitude-cost {
  grid-column: 4;
  color: var(--color-text-dark-1);
  text-align: center;
}

.aptitude-button {
  grid-column: 5;
  color: var(--color-text-dark-1);
  height: var(--charsheet-item-height);
  width: 80px;
}

.aptitude-concentration {
  grid-column: 6;
  color: var(--color-text-dark-1);
  height: var(--charsheet-item-height);
  width: 90%;
}

.aptitude-button2 {
  grid-column: 7;
  color: var(--color-text-dark-1);
  height: var(--charsheet-item-height);
  width: 80px;
}

.concentration-entry {
  display: grid;
  grid-template-rows: 40px;
  align-items: center;
}

/* ----------------------------------------- */
/*  Chip Manager                             */
/* ----------------------------------------- */

.chip-allocator-header {
  --control-width: 24px;
  flex: 0 0 calc(var(--sidebar-header-height) * 2px);
  line-height: var(--sidebar-header-height);
  font-size: var(--font-size-20);
  text-align: center;
  border-bottom: 2px groove var(--color-border-dark-4);
}
.chip-allocator h3 {
  flex: 2;
  margin: 0;
  font-size: var(--font-size-16);
  text-align: center;
}

.chip-box {
  display: flex;
  flex: 1;
  padding: 0.5em;
  color: var(--color-text-light-0);
  align-content: flex-start;
  text-align: right;
}

.chip-button {
  flex: 0 0 calc(var(--sidebar-header-height) * 2px);
}

.chip-button-character {
  width: 150px;
  flex: 0 0 calc(var(--sidebar-header-height) * 2px);
}
.chip-button-narrow {
  width: 100px;
  flex: 0 0 calc(var(--sidebar-header-height) * 2px);
}

.chip-button-narrow-character {
  width: 100px;
  flex: 0 0 calc(var(--sidebar-header-height) * 1.5px);
}

.chip-quantity {
  flex: 0 0 calc(var(--sidebar-header-height) * 2px);
  padding: 0.75em;
  color: var(--color-text-light-1);
  justify-content: flex-start;
}

.chip-quantity-character {
  flex: 0 0 calc(var(--sidebar-header-height) * 1px);
  padding: 0.75em;
  color: var(--color-text-dark-1);
  justify-content: flex-start;
  vertical-align: middle;
}

.chip-label {
  display: flex;
  padding: 0.75em;
  color: var(--color-text-light-1);
  justify-content: first baseline;
  width: 300px;
}

.chip-label-character {
  display: flex;
  flex: 0 0 calc(var(--sidebar-header-height) * 2px);
  padding: 0.75em;
  color: var(--color-text-dark-1);
  justify-content: flex-start;
  vertical-align: middle;
  width: 130px;
}

.chip-row {
  display: flex;
  flex-direction: row;
  flex: 0 0 calc(var(--sidebar-header-height) * 2px);
  align-items: center;
  overflow: hidden;
  margin: 0 5px;
  color: var(--color-text-light-0);
}

.directory li.chip-actor {
  line-height: var(--sidebar-item-height);
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.directory li.chip-actor h3,
.directory li.chip-actor h4 {
  white-space: nowrap;
  overflow: hidden;
}

.directory li.chip-actor img {
  flex: 0 0 var(--sidebar-item-height);
  height: var(--sidebar-item-height);
  width: var(--sidebar-item-height);
  object-fit: scale-down;
  object-position: 50% 0;
  border: none;
}

.directory li.chip-actor .token-image {
  margin: 0;
  height: var(--sidebar-img-height);
  width: var(--sidebar-img-height);
  flex: 0 0 24px;
  line-height: 28px;
  margin: 0 0 2px;
}

.chips-sidebar .chip-manager-header {
  --control-width: 24px;
  flex: 0 0 calc(var(--sidebar-header-height) * 2px);
  line-height: var(--sidebar-header-height);
  font-size: var(--font-size-20);
  text-align: center;
  border-bottom: 2px groove var(--color-border-dark-4);
}
.chips-sidebar .chip-manager-header h3 {
  flex: 2;
  margin: 0;
  font-size: var(--font-size-16);
  text-align: center;
}

.chips-sidebar li.chip-actor .token-name {
  display: flex;
  flex: 1;
  align-items: center;
  overflow: hidden;
  margin: 0 5px;
  text-shadow: 1px 1px 4px var(--color-shadow-dark);
}
.chips-sidebar li.chip-actor .token-name h4 {
  line-height: 28px;
  margin: 0 0 2px;
}
.chips-sidebar li.chip-actor .token-name {
  display: flex;
  flex: 1;
  align-items: center;
}
.chips-sidebar .token-box {
  display: flex;
  flex: 1;
  padding: 0.5em;
  align-self: center;
}

.chips-sidebar #combat-controls {
  margin: 0;
  border-top: 2px groove var(--color-border-dark-4);
  padding-top: 4px;
}
.chips-sidebar #combat-controls a {
  flex: 1;
  font-size: var(--font-size-20);
  text-align: center;
  line-height: var(--sidebar-header-height);
}
.chips-sidebar #combat-controls a.center {
  flex: 3;
}

.dlc .sheet-header {
  flex: 0 0 100px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.dlc .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}
.dlc .sheet-header .header-fields {
  flex: 1;
  height: 100px;
}
.dlc .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.dlc .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.dlc .sheet-body {
  overflow: hidden;
}
.dlc .sheet-body .tab {
  height: 100%;
  overflow-y: auto;
}
.dlc .tabs {
  flex: 0 0 40px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}
.dlc .tabs .item {
  line-height: 40px;
  font-weight: bold;
}
.dlc .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}
.dlc.sheet.actor {
  min-width: 660px;
  min-height: 660px;
}
.dlc.sheet.item {
  min-width: 500px;
  min-height: 500px;
}

.trait-entry {
  display: grid;
  grid-template-columns: repeat(6, 100px);
  align-items: center;
  vertical-align: middle;
}

.trait-column1-label {
  grid-column: 1;
  color: var(--color-text-dark-1);
  font-weight: bold;
  justify-content: space-around;
  align-items: center;
}

.trait-column2-label {
  grid-column: 3;
  color: var(--color-text-dark-1);
  font-weight: bold;
  justify-content: space-around;
  align-items: center;
}

.trait-column3-label {
  grid-column: 5;
  color: var(--color-text-dark-1);
  font-weight: bold;
  justify-content: space-around;
  align-items: center;
}

.trait-column1-card {
  grid-column: 2;
  justify-content: space-around;
  align-items: center;
}

.trait-column1-card > img {
  height: var(--combat-card-height);
  object-fit: scale-down;
  border: none;
  margin: 2px;
}

.trait-column2-card {
  grid-column: 4;
  justify-content: space-around;
  align-items: center;
}

.trait-column2-card > img {
  color: var(--color-text-dark-1);
  height: var(--combat-card-height);
  object-fit: scale-down;
  border: none;
  margin: 2px;
}

.trait-column3-card {
  grid-column: 6;
  justify-content: space-around;
  align-items: center;
}

.trait-column3-card > img {
  color: var(--color-text-dark-1);
  height: var(--combat-card-height);
  object-fit: scale-down;
  border: none;
  margin: 2px;
}

.traitOptions {
  display: flex;
  flex-wrap: wrap;
}

.traitOptionItem {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex: calc(33% - 42px);
}

.trait-inputs {
  display: grid;
  grid-template-columns: 180px 180px 180px 180px;
  vertical-align: middle;
}

.trait-input-label1 {
  grid-column: 1;
  color: var(--color-text-dark-1);
  font-weight: bold;
  justify-content: space-around;
  align-items: right;
  vertical-align: middle;
}

.trait-input-image1 {
  justify-content: space-around;
  align-items: right;
}
.trait-input-image1 > img {
  grid-column: 2;
  height: var(--trait-card-height);
  object-fit: scale-down;
  border: none;
  margin: 2px;
}

.trait-input-label2 {
  grid-column: 3;
  color: var(--color-text-dark-1);
  font-weight: bold;
  justify-content: space-around;
  align-items: right;
}

.trait-input-image2 {
  grid-column: 4;
  justify-content: space-around;
  align-items: left;
}

.trait-input-image2 > img {
  height: var(--trait-card-height);
  object-fit: scale-down;
  border: none;
  margin: 2px;
  align-items: right;
}

.traitSubmit {
  font-size: var(--font-size-14);
  flex: 0 0 var(--control-width);
  color: var(--color-text-light-6);
}

.main-trait-entry {
  display: grid;
  grid-template-columns: 180px 80px 30px 25px 90px 150px repeat(auto-fill, 90px);
  grid-template-rows: 40px;
  align-items: center;
}

.main-trait-label {
  grid-column: 1;
  color: var(--color-text-dark-1);
  font-weight: bold;
  margin-left: 1em;
}

.main-trait-die {
  grid-column: 2;
  color: var(--color-text-dark-1);
  font-size: var(--font-size-20);
}

/* These control the trait tab of the character create page. */

.initial-trait-entry {
  display: grid;
  grid-template-columns: 150px 70px 35px 150px 35px 90px;
  grid-template-rows: 40px;
  align-items: center;
}

.trait-label {
  grid-column: 1;
  color: var(--color-text-dark-1);
  font-weight: bold;
  margin-left: 1em;
}

.trait-die {
  grid-column: 2;
  color: var(--color-text-dark-1);
  font-weight: bold;
}

.trait-rank-cost {
  grid-column: 3;
  color: var(--color-text-dark-1);
}

.trait-button {
  grid-column: 4;
  color: var(--color-text-dark-1);
  height: var(--charsheet-item-height);
  width: 80px;
}

.trait-die-size-cost {
  grid-column: 5;
  color: var(--color-text-dark-1);
}

.trait-button2 {
  grid-column: 6;
  color: var(--color-text-dark-1);
  height: var(--charsheet-item-height);
  width: 80px;
}
