<h1>Tmp Header - Chips</h1>

<form action="/">
  <div class="chip-entry">
    <div>White</div>
    <div id="numWhiteChips">{{this.chips.white.value}}</div>
    <div>Red</div>
    <div id="numRedChips">{{this.chips.red.value}}</div>
    <div>Blue</div>
    <div id="numBlueChips">{{this.chips.blue.value}}</div>
    <div>Green</div>
    <div id="numGreenChips">{{this.chips.green.value}}</div>
    <div>Ephemeral Green</div>
    <div id="numEphGreenChips">{{this.chips.greenTemp.value}}</div>
  </div>
</form>
