<section class="{{cssClass}} directory flexcol" id="{{cssId}}" data-tab="{{tabName}}">

  <header class="chip-allocator-header">
      <div class="flexrow">
        <h3 class="chip-allocator noborder">{{localize 'DLC.app.ChipAllocator'}}</h3>
      </div>
  </header>

  <div class="chip-row">
    <label class="chip-label-character" for="white">White</label>
    <input class="chip-box" type="number" name="white" value="0" maxlength="2">
  </div>
  <div class="chip-row">
    <label class="chip-label-character" for="red">Red</label>
    <input class="chip-box" type="number" name="red" value="0" maxlength="2">
  </div>
  <div class="chip-row">
    <label class="chip-label-character" for="blue">Blue</label>
    <input class="chip-box" type="number" name="blue" value="0" maxlength="2">
  </div>

  <div class="chip-row">
  </div>
  
  <input type="submit" value={{localize 'DLC.app.AllocateChips'}} />

</section>
